body {
    background-color: rgb(255, 183, 183);
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }

#joke{
    color: rgb(255, 0, 0);
    font-family: sans-serif;
    font-weight:bold;
}

#quote{
    color: rgb(60, 0, 255);
    font-family: sans-serif;
    font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  background-color: rgb(200, 200, 200);
}
